.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-warning{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0;
    background: rgb(252, 217, 17);
    font-size: 14px;
    font-weight: 400;
    font-family: "Euclid Circular A";
    color: black;
    padding: 0 12px 0 16px;
    height: 35px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}